Автоматическое добавление и удаление RAG.json
{
  "name": "Автоматическое добавление и удаление RAG",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ],
      "id": "3885c3b6-47b0-4ded-bead-efabf529a46f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1distglJ06dPFfL_L8eua0Q6wTrrfS-DM",
            "mode": "list",
            "cachedResultName": "n8n_RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1distglJ06dPFfL_L8eua0Q6wTrrfS-DM"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        80
      ],
      "id": "bc49e2c7-26c6-4c58-a61b-c69fed2f5232",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Dy9OjL1xsiijA1qm",
          "name": "Google Drive makrochip38"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Loop Over Items').item.json.id }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1872,
        -64
      ],
      "id": "74525bf8-0b09-4030-a2c5-0c30c870612d",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZmZdnLRcZOepNmeK",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "RAG_documents_youtube",
          "mode": "list",
          "cachedResultName": "RAG_documents_youtube"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2160,
        80
      ],
      "id": "64175163-b851-419e-a540-21f1c554f2b1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2128,
        304
      ],
      "id": "dd7bcd74-f077-4f7b-a317-611bafb10c5b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "79uqRJuY9Jyb9Jex",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.content }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "document_id",
                "value": "={{ $('Loop Over Items').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2256,
        304
      ],
      "id": "5870ea78-a20d-4778-9b76-b23615392bdf",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 7000,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2336,
        512
      ],
      "id": "7259349d-ad06-4766-a0a5-0c2bab191350",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        80
      ],
      "id": "e4651797-faa1-4b23-86f8-e65127b03221",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "documents_base_youtube",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "keyValue": "={{ $json.documentId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        944,
        0
      ],
      "id": "53c4dd05-3fc9-4127-9c43-a964c0a2c64b",
      "name": "Get a row",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "documents_base_youtube",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "document_id",
              "fieldValue": "={{ $('Loop Over Items').item.json.id }}"
            },
            {
              "fieldId": "revisionId",
              "fieldValue": "={{ $('Get a document1').item.json.revisionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        -160
      ],
      "id": "c8d88a8b-f7f5-4f8d-a577-d718a2661b3a",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.id }}",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "56f94020-fc0d-4eeb-865e-da2a7ce50f76",
      "name": "Get a document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "ZmZdnLRcZOepNmeK",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "95d5a6b8-515b-4993-b115-272b566c63c6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "new"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8bdcdd2d-a0e6-4c09-9d61-c446e1dbd60e",
                    "leftValue": "={{ $('Get a document1').item.json.revisionId }}",
                    "rightValue": "={{ $json.revisionId }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "changed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "not changed"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1168,
        0
      ],
      "id": "8c1f616c-a385-42e4-866a-21e1e6df661a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "RAG_documents_youtube",
        "filterType": "string",
        "filterString": "=metadata->>document_id=like.*{{ $json.document_id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        32
      ],
      "id": "5beb4def-1c2e-4ac1-96eb-a6a43a43e563",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "documents_base_youtube",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "condition": "eq",
              "keyValue": "={{ $json.metadata.document_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "revisionId",
              "fieldValue": "={{ $('Get a document1').item.json.revisionId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1616,
        32
      ],
      "id": "9cfdacf3-f11e-4650-ad41-06143ed52756",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "12F9oBB7YxF1SODW8VUpn8seNXA7UzRdV",
            "mode": "list",
            "cachedResultName": "Delete_RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/12F9oBB7YxF1SODW8VUpn8seNXA7UzRdV"
          },
          "whatToSearch": "files"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        384
      ],
      "id": "02d886ab-9f8c-4a8b-8e4e-1139ac012476",
      "name": "Search files and folders1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Dy9OjL1xsiijA1qm",
          "name": "Google Drive makrochip38"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        384
      ],
      "id": "8a397850-840f-470f-b2a0-9515faee1bb9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "RAG_documents_youtube",
        "filterType": "string",
        "filterString": "=metadata->>document_id=like.*{{ $json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        384
      ],
      "id": "98af1949-82ba-4f48-ac6a-e5e5d6deb56f",
      "name": "Delete a row1",
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents_base_youtube",
        "filters": {
          "conditions": [
            {
              "keyName": "document_id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items1').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "a67fcdf9-ac5c-41da-b8a7-b123805699b3",
      "name": "Delete a row2",
      "credentials": {
        "supabaseApi": {
          "id": "dvd3HcUwrJuu7HgE",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ],
      "id": "ec664b7f-472e-404d-a7a9-f4f13d3f383a",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get a document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document1": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row1": {
      "main": [
        [
          {
            "node": "Delete a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "none",
    "saveDataSuccessExecution": "none",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "2c325d32-6405-4f37-b8d1-76c6c0f095b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e6e6c8687fc674826fca330ddc07edc1bc856bf640a801fb6169ed2805581b6"
  },
  "id": "s7PegxrfQupr8i6k",
  "tags": []
}